:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}




.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 25px;
    padding-top: 1px;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 35px;
    padding-bottom: 2rem;
    text-transform: uppercase;
    color:rgb(7, 182, 226) ;
}

.review .slide{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;  
    background-color: rgb(7, 182, 226);
}

.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 35px;
    color:gold;
}

.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:black;
    font-size: 25px;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 20px;
    color:gold;
}

.review .slide p{
    font-size:17px;
    line-height: 1.8;
    color:black;
    font-weight: bolder;
}
